.container{
    width: 100%;
    height: 500px;
}
.img{
    background:  linear-gradient(180deg,rgba(7,14,39,0),#070e27), url('https://it.nttdata.com/-/media/project/emea/it/immagini-italia/home/header_joinourdojo_home5.jpg?cx=0.47&cy=0.64&cw=2000&ch=1124&hash=CDA5CAD6DE6741B2DD073AFA7870B12E');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;


 
}
h1{
    color: white;
    padding-left: 150px;
}
h4{
    padding-left: 150px;
    padding-top: 200px;
    color:#6e8af7;
}
