.cardHelper{
    width: 400px;
    height: 300px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom-right-radius: 5rem;
    border-top-right-radius: 5rem;
    margin-top: 0;
    margin-left: 15vw;
    z-index: 5;
    top: 120px;
} 